<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.9/wing.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
<body>
 <div>
    <div id="login">
     <h1>First, log in to spotify</h1>
     <a href="/start">Log in</a>
    </div>
    <div id="loggedin">
    </div>
 </div>

    <div class="flex-container" id="outer-flex-container">
        <div class="flex-container" id="input-flex-container">
            <div class="input-container">
                <input class="text-input" id = "search-input" type="text" placeholder="Search for songs...">
                <button id="search-button">Search For A Song</button>
                <ul id="mountpoint"></ul>
            </div>
            
            <div class="two-space"></div>

            <div class="input-container">
                <input class="text-input" id="roomID-input" type="text" placeholder="Input Room ID....">
                <button id="roomID-button">Enter Room ID</button>
                <p id="room-status"></p>
            </div>       
        </div>


        <div class="flex-container" id="room-flex-container">
            <button id="createRoom-button">Create Room</button>
            <div id="roomID-container">
                <h3>Your Room ID</h3>
                <p id=roomID-header>N/A</p>
            </div>               
        </div>
     

    </div>


    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/mainClient.js"></script>



</body>
</html>