<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://use.fontawesome.com/ca2aa0c186.js"></script>
    </head>
<body>
    <div id="header">
        <div id="header__cont">
            <h1 id="header__title">AUX</h1>
            <h2 id="header__subtitle">a collaborative song queueing app</h2>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="login-popup">
                <h2>Create or Join a Room</h2>
                <button onclick="window.location.href='/start'" class="button" href="/start">
                    <h1>Create</h1>
                    <div>
                        <a href="/start"><i class="fa fa-spotify fa-4x" aria-hidden="true"></i></a>
                    </div>
                </button>
                <button class="button" id="joinRoom">
                    <h1>Join</h1>
                    <div>
                        <i class="fa fa-spotify fa-4x" aria-hidden="true"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="flex-container" id="outer-flex-container">
        <div class="flex-container" id="input-flex-container">

            <div class="flex-container" id="room-flex-container">
                <button id="createRoom-button">Create Room</button>
            </div>

            <div class="two-space">
                <div id="roomID-container">
                    <h3>Your Room ID</h3>
                    <p id=roomID-header>N/A</p>
                </div>    
            </div>

            <div class="input-container" id="room-input-container">
                <input class="text-input" id="roomID-input" type="text" placeholder="Input Room ID....">
                <br>
                <button id="roomID-button">Enter Room ID</button>
                <p id="room-status"></p>
            </div>     

        </div>
        

        <div class="song__input-container">
            <input class="text-input" id = "song__search-input" type="text" placeholder="Search for a song...">
            <button id="song__search-button">Search</button>
            <ul id="song__mountpoint"></ul>
        </div>


        <div class="flex-container" id="play-cont">
            <button id="play">Play</button>
        </div>
     
    </div>


    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/mainClient.js"></script>
    <script src="/javascripts/trivial.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
