* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

button:hover, button:focus {
	outline: 0px;
	transform: scaleX(1.1) scaleY(1.1);
	box-shadow: 5px 5px 15px #282828;
}

input:hover, input:focus {
	outline: 0;
}

.song__input-container {
	margin-top: 80px;
	width: fit-content;
	overflow: visible;
	padding: 15px;
	flex: 4;
	align-self: center;
}

#song__search-input {
	width: 300px;
	height: 40px;	
	padding-left: 5px;
	border: 1px solid black;
	box-shadow: 3px 3px 10px #282828;
    font-size: 14px;
}

#song__search-button {
	width: 55px;
	height: 40px;
	border: 0;
	background-color: #db68ff;
    font-size: 12px;
}

#song__mountpoint {
	list-style-type: none;
	margin:0;
	padding:0;
	list-style: none;
	box-shadow: 3px 3px 10px #282828;
}

.song-item {
    transition: 1s;
    height: auto;
}

.song-item:hover {
	color: gray;
	background-color: #db68ff;
}


/***********/
#header {
	display: flex;
}

#header__cont {
	flex: 20;
	align-items: center;
    display: flex;
    flex-direction: column;
}

h1, h2 {
	margin: 0;
}

#login {
	flex: 1;
}

/**********/

#input-flex-container {
	flex: 4;
	margin-top: 40px;
}

#room-flex-container {
	flex: 2;
	align-items: center;
}

#createRoom-button {
	width: 80px;
	height: 60px;
	border: 0;
	background-color: #db68ff;
    font-size: 12px;
}

.two-space {
	flex: 2;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#room-input-container {
	flex: 2;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#roomID-container {
	overflow: hidden;
	width: fit-content;
}

#roomID-input {
	width: 150px;
	height: 30px;	
	padding-left: 5px;
	border: 1px solid black;
	box-shadow: 3px 3px 10px #282828;
    font-size: 10px;
}

#roomID-button {
	width: 60px;
	height: 30px;
	border: 0;
	background-color: #db68ff;
    font-size: 10px;
}




#play-cont{
	flex: 5;
}
#play {
	width: 40px;
	height: 40px;
	border: 0;
	background-color: #db68ff;
    font-size: 10px;
}

#room-status {
	
}

.flex-container {
	display: flex;
}

/* THe Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

.login-popup h2 {
	text-align: center;
	font-size: 28px;
}

.login-items div {
	display: table;
	margin: 15% auto;
}

.login-items h1 {
	text-align: center;
	width: 100%;
}

.login-item {
	display: table-cell;
}

.button {
	width: 100%;
	display: block;
	margin: 10px 0;
    padding: 10px;
}

input {
	font-family: inherit;
}

#outer-flex-container {
	flex-direction: column;
}

a:link, a:visited, a:hover, a:active, i {
	color: black;
}


.border {
	border: 1px solid black;	
}



p {
	margin: 5px;
}